html { font-family: sans-serif; padding: 1rem; }
a { text-decoration: none; }
.cards { display: flex; flex-wrap: wrap; }
.cards li { margin-right: 1rem; margin-top: 2rem; width: 20rem; }
ul.cards { list-style-type: none; }
