# copy to .env to use
DB_URI=postgresql+psycopg2://user:pass@host:port
FLASK_ENV=development or production

# This is for querying the SCRAPYD api to show what's currently running
SCRAPY_URL=url
SCRAPY_USR=username
SCRAPY_PWD=password
