[Unit]
Description=Gunicorn instance to serve newscrawler
After=network.target

[Service]
User=maudlin
Group=http
WorkingDirectory=/server/http/maudlin
Environment="PATH=/server/http/maudlin/.venv/bin"
ExecStart=/server/http/maudlin/.venv/bin/gunicorn --workers 3 --bind unix:newscrawler.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
