@import "materialize/components/color-variables";
$primary-color: color("green", "darken-4") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize/materialize.scss';

html {
    font-family: sans-serif; padding: 1rem;
}
.today {
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
    padding: 0.25rem;
    color: white;
}
table {
    table-layout: fixed;
}
